* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #efe6e4;
}
section {
  padding: 0 100px;
}
a {
  text-decoration: none;
  color: #533738;
}
.promo {
  background-image: url(img/style/background.png);
  padding-bottom: 133px;
  padding-top: 71px;
}
.logo-header {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}
.nav-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}
.phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #533738;
  white-space: nowrap;
}
h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #533738;
}
.promo-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.button .promo-button {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}
.about-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.about-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.stat {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 62px;
  color: #ffffff;
  background-color: #8d7370;
}
.portfolio-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.hover-content {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
button .button .button-portfolio {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #533738;
}
.team-header {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
.team-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.team-header2 {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
p .our-work-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #533738;
}
.reviews-header {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #533738;
}
p .reviews-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.reviews-author {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.feedback-header {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
}
.form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.6;
}

button .button .button-form {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #533738;
}
.feedback {
  background: #8d7370;
}
footer {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
.nav-list {
  list-style-type: none;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-image {
  width: auto;
  height: 100%;
}
.logo-wrapper {
  display: flex;
  align-items: center;
}
.nav {
  width: 100%;
  margin-left: 88px;
  margin-right: 33px;
}
.promo-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 91px;
  margin-right: auto;
  margin-left: 103px;
}
.main-heading {
  width: 80%;
}
.promo-description {
  width: 68%;
  padding: 24px 0;
}
.button {
  height: 74px;
  background-color: #cc8b86;
  width: auto;
  padding: 24px 66px;
  font-weight: 500;
  font-size: 20px;
  margin-right: auto;
}
.button:hover {
  background-color: #e4bab7;
}
.nav-item a {
  white-space: nowrap;
  padding: 0 5px;
}
.container {
  margin-top: 65px;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section2 {
  display: flex;
  margin-top: 40px;
  margin-bottom: 20px;
  align-items: center;
  justify-items: space-between;
}
.goblets {
  margin-right: 60px;
  margin-left: 80px;
}
.section2-text {
  width: 44%;
}
.about-statistics {
  display: flex;
  background-color: #8d7370;
  width: 100%;
  justify-content: space-around;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-stat-number {
  padding-top: 85px;
  padding-bottom: 8px;
}
.about-stat-text {
  padding-bottom: 81px;
}
